<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>About me</title>
    <%- include ('include/header') %>
</head>

<body class="masthead">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <%- include ('include/nav') %>
                <div class="container p-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5 bg-transparent">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4 text-white">About me</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            This a project internal from Blackwolves! <br/>
                                                            Owner project: Vuchung  <br/>
                                                            Emai: vuchungbt@gmail.com <br/>
                                                            Facebook: <a href='https://www.facebook.com/vuchungbt' >www.facebook.com/vuchungbt</a> <br/>
                                                        </p>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
        <%- include ('include/footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>