<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                
                <a class="nav-link 
                <% if(typeof _active != 'undefined' && _active=='home' ){  %> 
                    active
                <% } %>
                "  href="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link
                <% if(typeof _active != 'undefined' && _active=='member' ){  %> 
                    active
                <% } %>
                " href="/home/member">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
                    Member
                </a>

                <a class="nav-link
                <% if(typeof _active != 'undefined' && _active=='project' ){  %> 
                    active
                <% } %>
                " href="/home/project">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Projects
                </a>
                <a class="nav-link 
                <% if(typeof _active != 'undefined' && _active=='document' ){  %> 
                    active
                <% } %>
                " href="/home/document">
                    <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                    Documents
                </a>
                
                <div class="sb-sidenav-menu-heading">Server</div>
                <a class="nav-link 
                <% if(typeof _active != 'undefined' && _active=='cloudflare' ){  %> 
                    active
                <% } %>
                " href="/home/cloudflare">
                    <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
                    Cloudflare
                </a>
                <!--
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-feather-alt"></i></div>
                    Deploy
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-terminal"></i></div>
                    Console
                </a>

                -->
                <div class="sb-sidenav-menu-heading">Share</div>
                <a class="nav-link
                <% if(typeof _active != 'undefined' && _active=='file' ){  %> 
                    active
                <% } %>" href="/home/file">
                    <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                    File
                </a>
                <!--
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-print"></i></div>
                    Preview
                </a>
                <div class="sb-sidenav-menu-heading">Resource</div>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
                    Finance
                </a>
                -->
                

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <% if(typeof user != 'undefined'){ %> 
                <%= user.name %>
            <% } %>
        </div>
    </nav>
</div>