<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload image</title>
    <%- include ('../include/header') %>
</head>

<body class="masthead">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <%- include ('../include/nav') %>
                    <div class="container p-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5 ">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4 text-white">Upload image</h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="/home/imgupload" method="POST" enctype="multipart/form-data"
                                            id="imgupload">
                                            <p class="text-info">Select file:</p>
                                            <input type="file" name="img" accept="image/png, image/gif, image/jpeg, image/webp" />
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-block"
                                                        href="/login">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="card-body">
                                        <div id="textResultimg"></div>
                                        <img  id="img" width="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
        <%- include ('../include/footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#imgupload").submit(function (event) {
                console.log('#imgupload clicked !');
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: "/home/imgupload",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        
                        data.file.forEach(element => {
                            //console.log('element', f);
                            $('#textResultimg').html(f.host+'/'+f.filename);
                            $('#img').attr('src', f.host+'/'+f.filename);
                        });
                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#textResultimg').html('Upload failed! '+jqXHR.responseJSON.msg);
                    }
                });
            });

        });
    </script>
</body>

</html>