<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload image</title>
    <%- include ('../include/header') %>

    
</head>

<body class="masthead">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <%- include ('../include/nav') %>
                    <div class="container p-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5 ">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4 text-white">Upload File</h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="/home/fileupload" method="POST" enctype="multipart/form-data"
                                            id="fileupload">
                                            <p class="text-info">Select file(max 50M):</p>
                                            <p><a href="https://blwsmartware.net/home/file">List all file</a></p>
                                            <input multiple type="file" name="file" />
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-block"
                                                        >Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="card-body">
                                        <div id="textResultimg"></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
        <%- include ('../include/footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#fileupload").submit(function (event) {
                console.log('#fileupload clicked !');
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: "/home/fileupload",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        console.log('#fileupload done !',data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#textResultimg').html('Upload failed! '+jqXHR.responseJSON.msg);
                    }
                });
            });

        });
    </script>
</body>

</html>