<!-- Modal 1 My profile-->
<div class="modal fade" id="addcloudflareModal" tabindex="-1" role="dialog" aria-labelledby="addcloudflareModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add API key</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="addcloudflare" action="/home/cloudflare" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Fullname:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="permission" class="col-form-label">Permission:</label>
                        <select id="permission" class="form-control" name="permission">
                            <option value="Admin" <%= typeof user.permission != 'undefined' && user.permission=='Owner' || user.permission=='Member' ? 'disabled' : '' %>>Admin</option>
                            <option value="Owner" <%= typeof user.permission != 'undefined' && user.permission=='Member' ? 'disabled' : '' %>>Owner</option>
                            <option value="Member" selected>Member</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="active" class="col-form-label">Active:</label>
                        <select id="active" class="form-control" name="active">
                            <option value="Disable">Disable</option>
                            <option value="Enable" selected>Enable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" name="password" id="password" value="">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>