    <!-- Modal 1 My profile-->
    <div class="modal fade" id="addmemberModal" tabindex="-1" role="dialog" aria-labelledby="addmemberModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="addmember">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Fullname:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-phone" class="col-form-label">Phone:</label>
                        <input type="text" class="form-control" id="recipient-phone">
                    </div>
                    <div class="form-group">
                        <label for="recipient-permission" class="col-form-label">Permission:</label>
                        <input type="text" class="form-control" id="recipient-permission">
                    </div>
                    <div class="form-group">
                        <label for="recipient-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="recipient-email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-pass" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="recipient-pass">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>