<!-- Modal Deloy project-->
<div class="modal fade" id="addrecordDNS" tabindex="-1" role="dialog" aria-labelledby="addrecordDNS"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saddrecord">Record DNS</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="addrecord" action="/home/addrecord" method="post">
                    <div class="form-group">
                        <input type="hidden"  class="form-control" name="id" id="id" placeholder="id of mem" value="<%= typeof _id != 'undefined' ? _id : '' %>"/>
                        <input type="text"  class="form-control" name="ZoneID" id="ZoneID" placeholder="ZoneID" value="<%= typeof ZoneID != 'undefined' ? ZoneID : '' %>"  />
                        <input type="text"  class="form-control" name="type" id="type" placeholder="type" value="CNAME" />
                        <input type="text"  class="form-control" name="address" id="address" placeholder="address" />
                        <input type="text"  class="form-control" name="content" id="content" placeholder="content" value="blwsmartware.net" />
                        <input type="text"  class="form-control" name="api_key" id="api_key" placeholder="api_key" value="<%= typeof api_key != 'undefined' ? api_key : '' %>" />
                        <input type="text"  class="form-control" name="ttl" id="ttl" placeholder="ttl 1=auto" value="1" />
                        <input type="text"  class="form-control" name="proxied" id="proxied" placeholder="proxied(true/false)" value="true" />
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>