
<!-- Modal 2 Change password-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="changepassword">
                    <div class="form-group">
                        <label for="recipient-old-pass" class="col-form-label">Old password:</label>
                        <input type="text" class="form-control" id="recipient-old-pass">
                    </div>
                    <div class="form-group">
                        <label for="recipient-new-pass" class="col-form-label">New password:</label>
                        <input type="text" class="form-control" id="recipient-new-pass">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>