<!-- Modal Deloy project-->
<div class="modal fade" id="deployConfigNginx" tabindex="-1" role="dialog" aria-labelledby="deployConfigNginx"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deployConfigNginx">Forward Project</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                
                    <div class="form-group">
                        <input type="hidden" name="name" id="name" />
                        <label for="contentnginx" class="col-form-label">Content:</label>
                        <textarea  class="form-control" id="contentnginx" name="contentnginx" rows="4" ></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
              
            </div>
        </div>
    </div>
</div>